.git/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.vscode/
__pycache__/
*.egg-info/
.data/

build/
dist/
logs/
outputs/
tensorboard_log/
tensorboard_log.*/
tests/
tmp/
wandb/

*.py[cod]
*.pyo
*.pyd
*.swp
*.swo
*.tmp
*.log
